<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta content="telephone=no,email=no" name="format-detection">
  <script src="../js/flexible/flexible.js"></script>
  <title>身份验证</title>
   <!-- 引入样式 -->
    <link rel="stylesheet" href="../js/mint-ui/lib/style.css">
  <link rel="stylesheet" href="../css/login.css">
  <style>
    /* 顶部样式 */
    .top-content{
      height: 80px;
      background-color: #f6f6f6;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .top-content>span{
      font-size: .346667rem;
      color: #989898;
    }
    /* 身份证上传样式 */
    .pic-group{
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .pic-group p{
      font-family: PingFang-SC-Regular;
      font-size: .4rem;
      margin: .533333rem 0 .346667rem 0;
    }
    .pic-group img{
      width: 6.533333rem;
      height: 3.666667rem;
    }
    /* 隐藏上传文件按钮 */
    input[type='file']{
      display: none;
    }
  </style>
</head>

<body>
  <header>
    <a href=""><img src="../img/icon-back.png" alt=""></a>
    <h1>身份验证</h1>
  </header>
  <article class="main" id="app">
    <section class="top-content">
      <span>拍摄您的第二代身份证原件,请确保图片清晰,四角完整</span>
    </section>
    <section class="pic-content">
      <div class="pic-group">
        <p>身份证正面</p>
        <img id="pic1" src="../img/idcard-front.png" alt="" onclick="upLoad('img1')">
        <input id="img1" type="file" accept="image/*" capture="camera">
      </div>
      <div class="pic-group">
        <p>身份证背面</p>
        <img id="pic2" src="../img/idcard-back.png" alt="" onclick="upLoad('img2')">
        <input id="img2" type="file" accept="image/*" capture="camera">
      </div>
    </section>
    <section class="btn-content">
      <button class="btn btn-danger" @click="submit">下一步</button>
    </section>
  </article>
  <footer>
  </footer>
</body>
<script src="../js/axios/dist/axios.min.js"></script>
<script src="../js/config/config.js"></script>
<script src="../js/vue/vue-2.5.17.js"></script>
<!-- 引入组件库 -->
<script src="../js/mint-ui/lib/index.js"></script>
 <!-- 放在mint组件库后面 -->
 <script src="../js/common.js"></script>
<script>
  var vm = new Vue({
    el: '#app',
    data() {
      return {
        phone: '',
        imgfront: '',
        imgback: ''
      }
    },
    mounted() {
      var _this = this
      _this.phone = window.sessionStorage.getItem('tel')
      bindImgChange('img1', function (e) {

        document.getElementById('pic1').src = e
        var imgs = e.slice(e.indexOf('base64,') + 7)
        // 下面逻辑处理
      })
      bindImgChange('img2', function (e) {
        document.getElementById('pic2').src = e
        var imgs = e.slice(e.indexOf('base64,') + 7)
        // 下面逻辑处理
      })
    },
    methods: {
      submit: submit
    }
  })
  // function bindImgChange (tag,param,type) {
  //   document.getElementById('img'+tag).addEventListener('change', function(e) {
  //     var file = e.target.files[0];
  //   var reader = new FileReader();
  //   reader.readAsDataURL(file); // 读出 base64
  //   reader.onloadend = function () {
  //       // 图片的 base64 格式, 可以直接当成 img 的 src 属性值        
  //       var dataURL = reader.result;
  //       var imgs = dataURL.slice(dataURL.indexOf('base64,')+7)
  //       // 下面逻辑处理
  //       document.getElementById('pic'+tag).src = dataURL
  //       // upCard(imgs,type)
  //   };
  //   })
  // }
  async function submit() {
    var _this = this
        formData = new FormData(),
        imgFront = document.getElementById('img1').files[0],
        imgBack = document.getElementById('img2').files[0]
    if(!imgFront){
      _this.$toast('请上传身份证正面照')
      return
    }
    if(!imgBack){
      _this.$toast('请上传身份证背面照')
      return
    }
    _this.$indicator.open({
          spinnerType: 'triple-bounce'
    });
    var base64One = await photoCompress(imgFront,{}) // 压缩图片
    document.getElementById('pic1').src = base64One
    imgFront=dataURLtoFile(base64One) // base64转file
    var base64Two = await photoCompress(imgBack,{}) // 压缩图片
    document.getElementById('pic2').src = base64Two
    imgBack=dataURLtoFile(base64Two) // base64转file
    // 设置参数
    formData.append("tel", this.phone); 
    formData.append("idcfront", imgFront);
    formData.append("idcback",imgBack);
    upCard.call(_this,formData) // 调用上传方法
  }
  // 图片上传事件
  function upCard(data) {
    var url = window.webConfig.apiUrl + '/api/userauth/postidcard' // 上传地址
    request.post(url,data,vm).then(res => {
      var jsonRet = JSON.parse(res.data) // 序列化返回结果
      if (jsonRet.ReturnCode  === 'SUCCESS') {
        // 跳转页面
        window.location.href = './signWait.html'
      }else {
        this.$toast(getCodeToMsg(jsonRet.ReturnCode))
      }
      // 其他逻辑
    }).catch(err=>{
      this.$toast('系统错误！')
    })
  }
</script>

</html>