<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta content="telephone=no,email=no" name="format-detection">
  <script src="../js/flexible/flexible.js"></script>
  <title>登录页</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="../css/login.css">
</head>

<body>
  <header>

  </header>
  <article class="main">
    <section class="logo">
      <img src="../img/logo@3x.png" alt="">
    </section>
    <section class="ipt-content">
      <div class="ipt-group line-bottom">
        <img src="../img/icon-phone.png" alt="" srcset="">
        <input id="phone" type="text" class="ipt-phone" placeholder="请填写手机号码">
        <button onclick="send()">获取验证码</button>
      </div>
      <div class="ipt-group line-bottom">
          <img src="../img/icon-viste.png" alt="" srcset="">
          <input id="code" type="text" class="ipt-viste" placeholder="请输入验证码">
      </div>
      <div class="ipt-group viste-call"><img src="../img/icon-w.png" alt="" srcset=""><span>收不到短信，试试<a href="">语音验证码</a></span></div>
    </section>
    <section class="btn-content">
      <button class="btn btn-danger" onclick="submit()">提交验证</button>
    </section>
  </article>
  <footer>
    <span>本服务由亿签网技术支持</span>
  </footer>
  <script src="../js/axios/dist/axios.min.js"></script>
  <script src="../js/config/config.js"></script>
  <script>
    function send(){
      var phone = document.getElementById('phone').value,
          url = window.webConfig.apiUrl + '/api/userauth/askcode?id='+phone
      axios.get(url).then(function(res){
        console.log(res)
      })
    }
    function submit(){
      var phone = document.getElementById('phone').value,
          code = document.getElementById('code').value,
          url = window.webConfig.apiUrl + '/api/userauth/askcode?id='+phone+'&code='+code
          axios.get(url).then(function(res){
            console.log(res)
          })
    }
  </script>
</body>

</html>