<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta content="telephone=no,email=no" name="format-detection">
  <script src="../js/flexible/flexible.js"></script>
  <!-- less -->
  <link rel="stylesheet" href="../css/style.css">
  
  <title>合同列表</title>
  <!-- 引入样式 -->
   <link rel="stylesheet" href="../js/mint-ui/lib/style.css">
  <link rel="stylesheet" href="../css/login.css">
</head>

<body>
  <header>
    <!-- <a href=""><img src="../img/icon-back.png" alt=""></a> -->
    <h1>待签合同</h1>
  </header>
  <article class="main bg-f7" id="app">
    <section class="list-content">
      <ul>
        <li v-for="item in list" class="list-item flex-box flex-space-between flex-aligin-center" @click="showContract(item.cid)">
          <span>{{item.DocName}}</span><img src="../img/icon-right@3x.png" alt="">
        </li>
      </ul>
    </section>
  </article>
  <footer class="fixed">
    <ul>
      <li class="active">
        <a href="./signWait.html">
          <i class="sign-wait" alt=""></i>
          <span>待签合同</span>
        </a>
      </li>
      <li>
        <a href="./signFinish.html">
          <i class="sign-finish" alt=""></i>
          <span>已签合同</span>
        </a>
      </li>
      <li>
        <a href="./personInfo.html">
          <i class="sign-person" alt=""></i>
          <span>个人中心</span>
        </a>
      </li>
    </ul>
  </footer>
  <!-- 引入js -->
  <script src="../js/polyfill.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="../js/config/config.js"></script>
  <script src="../js/vue/vue-2.5.17.js"></script>
  <!-- 引入组件库 -->
  <script src="../js/mint-ui/lib/index.js"></script>
  <!-- 放在mint组件库后面 -->
<script src="../js/common.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        phone: '',
        list: [{
          "sid": "eaa74a59-7f35-45b9-aa90-a8a100fa8d22",
          "cid": "7AF3592B-227E-4F71-AE30-A83400F1D0E7",
          "DocName": "客户询证函4971110D0118060014",
          "PartA": "huang",
          "PartB": "huang",
          "UpdateDT": "2018-03-12T15:12:13.733",
          "Status": "待签"
        }]
      },
      mounted:function() {
        var _this = this
        //window.sessionStorage.setItem('tel','15112663977')
          _this.phone = window.sessionStorage.getItem('tel')
        var url = window.webConfig.apiUrl + '/api/SignOper/getlist?id=' + _this.phone + '&status=0'
        request.get(url,_this).then(function (res) {
          var jsonRet = JSON.parse(res.data)
          if (jsonRet.ReturnCode === 'SUCCESS') {
            _this.list = JSON.parse(jsonRet.JsonDesc)
          } else {
            _this.$toast(getCodeToMsg(jsonRet.ReturnCode))
          }
        })
      },
      methods: {
        showContract: showContract
      }
    })

    function showContract(val) {
      window.location.href='./contract.html?cid='+val
    }
  </script>
</body>

</html>